[mysqld]

slow_query_log_file    = /home/log/mysql/mariadb-slow.log
long_query_time        = 10
log_slow_rate_limit    = 1000
log_slow_verbosity     = query_plan
log-queries-not-using-indexes

log_bin                = /home/log/mysql/mysql-bin.log
log-bin-index          = /home/log/mysql/mysql-bin.index
expire_logs_days       = 10
max_binlog_size        = 100M
binlog_do_db           = include_database_name
binlog_ignore_db       = exclude_database_name
